.about {
  max-width: 65rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  .heading {
    width: 100%;
    max-width: 95%;
    align-self: flex-start;
  }
  &__para {
    max-width: 90%;
    align-self: flex-start;
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.85rem;
    letter-spacing: 0.08rem;
  }
}
