.button{
    color: var(--color-text-active);
    background-color: var(--color-primary);
    padding: 0.9rem 2rem;
    width: 12rem;
    font-size: 1.4rem;
    border: 0;
    outline: 0;
    border-radius: 0.75rem;
    margin-top: 3rem;
}