.userInfoCard {
  flex-grow: 1;
  min-height: 30rem;
  margin: 1rem 1rem;
  margin-left: 0;
  width: 22rem;
  min-width: 17rem;
  max-width: 23rem;
  border-radius: 0.5rem;
  padding: 2.5rem 3.5rem;
  color: var(--color-text-active);
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary-bg);

  &:hover &__avatar {
    border: 3px dotted var(--color-text-active);
  }

  &__avatar {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    img {
      width: 100%;
      border-radius: 50%;
      height: 100%;
      transition: 0.15s all ease-in-out;
    }
  }

  &__name {
    margin-top: 4rem;
    font-size: 1.6rem;
    text-align: center;
  }

  &__details {
    margin-top: 0.3rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__about {
      color: var(--color-text) !important;
      text-align: center;
    }
    &__work {
      font-weight: 500;
      text-align: center;
    }
  }

  &:hover {
    background-color: var(--color-primary);
    .userInfoCard__avatar {
      img {
        transform: scale(0.8);
      }
    }
  }
}

.userInfoCard.fliped {
  transform: translateY(180deg);
}

.userInfoCard,
.userInfoCard:hover {
  .userInfoCard__social {
    display: flex;
    flex-direction: column;
    width: fit-content;
    &__item {
      margin-top: 1rem;
      img {
        width: 2.2rem;
        margin-bottom: 0.8rem;
      }
      a {
        margin-left: 1rem;
        font-size: 1rem;
        color: var(--color-text-active) !important;
        text-decoration: none;
        font-weight: 500;
      }
    }
  }
}

.active__card {
  background-color: var(--color-secondary-bg) !important;
}
