.carousel {
  width: 100%;
  background-color: var(--color-secondary);
  border-radius: 1rem;
  overflow: hidden;
  .carousel-control-next,
  .carousel-control-prev {
    width: 4rem;
  }
  span.carousel-control-prev-icon,
  span.carousel-control-next-icon {
    height: clamp(1rem, 1rem + 10vw, 5rem);
    width: clamp(1rem, 1rem + 10vw, 5rem);
    color: white !important;
  }

  .carousel-indicators {
    button {
      background-color: white !important;
      height: 0.2rem;
    }
  }

  button.active {
    background-color: var(--color-primary);
    width: 5rem;
  }
}
