.home {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  justify-content: space-around;
  &__about {
    width: 100%;
    height: 100%;
    margin: auto;
    &__iconText{
      .iconText{
        margin: 0;
      }
    }
    &__details {
      display: flex;
      flex-direction: column;
      color: var(--color-text);
      margin-left: 10rem;
      &__heading {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        color: var(--color-text-active);
        font-weight: 500;

      }
      &__para {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.7rem;
        letter-spacing: 0.08rem;
        max-width: 40rem;
      }
    }
  }
}
