.home {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  justify-content: center;
  &__about {
    &__details {
      display: flex;
      flex-direction: column;
      color: var(--color-text);
      margin-left: 10rem;
      &__heading {
        margin-bottom: 1rem;
        font-size: 1.8rem;
        color: var(--color-text-active);
      }
      &__para {
        font-size: 1.2rem;
        max-width: 50rem;
      }
    }
  }
}
