.iconText {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__icon {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: gray;
    margin-top: 0.7rem;
    margin-bottom: 1rem;

  }
  &__text {
    color: var(--color-text-active);
    &__last {
      color: var(--color-primary);
    }
  }
}
