.heading__first{
    color :var(--color-primary);
}

.heading{
    font-size: 2.4rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: var(--color-text-active);
    text-transform: capitalize;
}
