.navItem {
  color: var(--color-text);
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  width: 100%;
  &,
  &:active,
  &:hover {
    text-decoration: none;
  }

  &__icon {
    margin-right: 0.7rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  &__text,
  &__text:active,
  &__text:hover {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--color-text);
  }
  &.active {
    border-left: 0.15rem solid white;
    filter: brightness(0) invert(1);
    color: var(--color-text-active);
    &__icon {
      filter: invert(10%);
    }
  }
  &.active &__text{
    color: var(--color-text-active);
  }
}
