.sideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.3rem;
  position: fixed;

  &__box {
    margin-bottom: 2.5rem;
    background-color: var(--color-secondary-bg);
    border-radius: 1rem;
    margin-right: 2rem;
    width: 20vw  !important;
  }
}
