.boilerPlate {
  margin: 2rem;
  display: flex;
  .sideBar {
    position: relative;
    top: 1rem;
    flex-basis: fit-content;
    flex-shrink: 0;
  }
  .content {
    max-width: 117rem !important;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hamburger {
    display: none;
  }
  @media (max-width: 950px) {
    margin-top: 5rem;
    .sideBar {
      display: none;
    }
    .content {
      flex-basis: unset;
      flex-grow: 1;
      align-items: center;
    }
    .content .cards {
      width: calc(97vw - 3rem) !important;
    }
    .hamburger {
      display: block;
      flex: 0;
    }
    .home {
      display: flex;
      flex-direction: column;

      .home__about__iconText {
        .heading {
          font-size: 2rem;
          margin-bottom: 3rem;
        }
        .iconText__icon {
          height: 6rem;
          width: 6rem;
        }
      }
      .home__about__details {
        margin-left: 0;
        align-items: center;
      }
    }
  }
}

@media (max-width: 430px) {
  html {
    font-size: 80% !important;
  }
  .boilerPlate {
    margin-left: 1rem;
    margin-right: 1rem;
    .content {
      width: 100% !important;
      .home__about__details__heading{
        font-size: 1.5rem;
      }
      .team {
        width: 100% !important;
      }
    }
    .userInfoCard {
      min-width: 100%;
      padding: 0 !important;
    }
  }
  label {
    left: 1rem !important;
  }
}

@media (max-width: 950px) {
  html{
    font-size: 90%;
  }
}