.boilerPlate {
  margin: 2rem;
  display: flex;
  .sideBar {
    position: relative;
    top: 1rem;
    flex-basis: fit-content;
    flex-shrink: 0;
  }
  .content {
    max-width:117rem !important;
    flex-basis: 100%; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
