@import "~bootstrap/scss/bootstrap";
:root {
  --color-primary-bg: #000000;
  --color-secondary-bg: #171717;

  // --color-primary: #e20000;
  --color-primary: #019ed2;
  --color-secondary: rgba(255, 255, 255, 0.67);

  --color-text-active: rgba(255, 255, 255, 1);
  --color-text: rgba(255, 255, 255, 0.67);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-primary-bg);
}
