.userProfile {
  display: flex;
  height: fit-content;
  width: 100%;
  align-items: center;
  &__logo {
    border: 0.1rem solid var(--color-primary);
    background-color: var(--color-secondary-bg);
    padding: 0.1rem;

    min-width: 4rem !important;
    min-height: 4rem !important;
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    img{
      margin: auto;
      width: 100%;
      height: 100%;
    }
  }
  &__details {
 
    &__heading {
      font-size: 0.833rem;
      margin-left: 0.7rem;
      color: var(--color-primary);
    margin-bottom: 0;

    }
    &__name {
      font-size: 1rem;
      font-weight: 500;
      color: white;
      margin-left: 0.4rem;
    margin-bottom: 0;

    }
  }
}
