.card {
  &:nth-of-type(1) {
    margin-left: 0 !important;
  }
  margin-left: 2.3rem;
  background-color: var(--color-secondary-bg);
  width: fit-content;
  min-width: 19rem;
  max-width: 21rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  color: var(--color-text-active);
  &__header {
    padding: 1rem;
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    &__event {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 1rem;
      &__name {
        font-size: 0.9rem;
        font-weight: 500;
      }
      &__type {
        font-size: 0.7rem;
      }
      &__info {
        cursor: pointer;
      }
    }
    &__logo {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  &__img {
    width: 100%;
    max-height: 8.5rem;
    overflow: hidden;
    object-fit: fill;
  }
  &__details {
    display: flex;
    padding: 1rem;

    &__time {
      display: flex;
      border: 0.15rem solid var(--color-text);
      padding: 1.2rem 1.1rem;
      flex-direction: column;
      border-radius: 0.3rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      &__month {
        font-size: 0.8rem;
        font-weight: 500;
      }
      &__date {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
    &__content {
      display: flex;
      flex-direction: column;
      font-size: 0.7rem;
      &__price {
        align-self: flex-end;
      }
      &__para {
        padding-top: 1.2rem;
        padding-left: 1rem;
        font-size: 0.75rem;
        color: var(--color-text);
      }
    }
  }
  &__reg {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-top: 0;
    button {
      margin: 0;
      font-size: 1.1rem;
      border-radius: 0.5rem;
      padding: 0.5rem 0.7rem;
    }
    &__details {
      display: flex;
      flex-direction: column;
      flex: 1;
      font-size: 0.65rem;
      justify-content: flex-end;
      margin-left: 2.5rem;
    }
  }
}
